useDynLib(RcppRP)

export(rp_sample)
export(rp_unif)
export(rcpp_random_portfolios)
#export(rcpp_port_return)
#export(rcpp_port_variance)
#export(rcpp_port_qu)
#export(rcpp_port_sharpe)
#export(min_var_objective)
#export(max_qu_objective)
export(set_moments)
#export(test_list)
export(rcpp_constrained_objective)
export(rcpp_rp_optimize)
export(test_objectives_list)
export(rcpp_constrained_objective_v2)
export(rcpp_rp_optimize_v2)